*{
  margin: 0px;
  padding: 0px;

}

.contenedor{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: auto;

}

.parteSuperior{
  position: relative;
  background: rgb(57, 57, 57);
  z-index: -10
}

.fotoRivales{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../src/vs2.png");
  background-size: cover;
  background-position: center;
  margin: 60px 0px;
}

.fotoRivales::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url( ../src/fotoVS.png) center;
  background-size: cover;
  mix-blend-mode: multiply;
  opacity: 0.7;
}
/* color de reloj */

.logoEvento{
  position: relative;
  display: flex;
  height: 360px;
}

.reloj{
  margin: auto;
  background: #FF005B;
  width: 800px;
  height: 250px;
}

p{
  display: flex;
  justify-content: center;
  margin: 20px;
  color: white;
  font-weight: bold;
  font-size: 80px;
}

.diasQueFaltan{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letras{
    font-size: 40px;
    margin: 0 22px;
}

/* Equipos */

.participantes{
  margin: auto;
  margin-top: 50px;
}

.participantes h2{
  font-size:40px;
  font-weight: bold;
}

/* lista de equipos */


div ul{
  position: relative;
  display: flex;

 }

div li{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.participantes{
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participantes h2{
  font-size:40px;
  font-weight: bold;
}

/* lista de equipos */


div ul{
  position: relative;
  display: flex;

 }

div li{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

/* texto de marco */
div #marco{
  display: flex;
  position: relative;
  margin: auto;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction:row;
}

.columna{
  position:relative;
  padding: 10px
}
#titulo{
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 55px
}

#texto {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: black;
  font-size: 16px;
  width: 200px;
}

#jugador{
  margin: auto;
  position: relative;
}
