*{
  margin: 0px;
  padding: 0px;

}

.contenedor{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.parteSuperior{
  position: relative;
  background: rgb(57, 57, 57);
  z-index: -10
}

.fotoRivales{
  position: relative;
  width: 100%;
  background-image:url("src/fotoVS.png");
  z-index: -1;
  margin: 60px 0px;
}

.logoEvento{
  display: flex;

  width: 400px;
}
